body{
   padding: 0px;
   margin: 0px;
   background: url(/img/space.jpg); 
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position:fixed;
   background-size:cover;
   background-attachment: local;
}

#my-div{

   height: 100px;
   width: 100px;
   position: absolute;
   transition: 0.07s ease-out;
}

#my-div img{

width: 500px;

}